@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/roboto-mono-medium.ttf");
}

:root {
    --font: "Roboto Mono";
    --background: #0f0e17;
    /*--foreground: #fffffe;*/
    --foreground:	#D3D3D3;
    --pink: #e53170;
    --span: #74aa04;
    --red: #f25f4c;
    --headerColor: #8dd006;
    --orange: #ff8906;
    --hover: #0383f5;
    --branch: 1px solid #a7a9be;
}

html {
    font-size: 18px;
    overflow: hidden;
}

body {
    background: var(--background);
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    */
}

.prompt {
    font-family: var(--font);
    color: var(--foreground);
}

.prompt~.prompt {
    padding: 1.5rem 0 0.3125rem;
}

span {
    color: var(--span);
}

h1 {
    display: inline;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: normal;
    color: var(--headerColor);
    cursor: pointer;
}

.tree>ul {
    margin: 0;
    padding-left: 1rem;
}

ul {
    list-style: none;
    padding-left: 2.5rem;
}

li {
    position: relative;
}

li.hideChildren>ul {
    display: none;
}

li::before,
li::after {
    content: "";
    position: absolute;
    left: -0.75rem;
}

li::before {
    border-top: var(--branch);
    top: 0.75rem;
    width: 0.5rem;
}

li::after {
    border-left: var(--branch);
    height: 100%;
    top: 0.25rem;
}

li:last-child::after {
    height: 0.5rem;
}

a {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--foreground);
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    color: var(--background);
    background: var(--hover);
}

form h1 {
    padding-left: 0.125rem;
}

/* you can fill the texarea above/below? the Viewport */
/* Unsure why this one behaves so oddly.
#search {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--foreground);
    background-color: var(--background);
    border: none;
    outline: none;
    position: absolute;
    width: 50vw;
    height: 50vh;
    word-break: break-all;
    resize: none;
}
*/

#search {
  font-family: var(--font);
  font-size: 1rem;
  color: var(--foreground);
  background-color: var(--background);
  border: none;
}

.typewriter h1 {
  display: flex;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(100, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
